.App {
    max-width: 600px;
    padding: 20px;
    margin: 20px auto;
    text-align: left;
}

.ToDoList {
    margin-top: 30px;
    max-height: 60vh;
    overflow: scroll;
}

.EditorArea {
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: text;
    height: 52px;
    padding-left: 10px;
    width: 380px;
    padding-right: 10px;
    font-size: 20px;
}

.SubmitButton {
    background-color: #db4c3f!important;
    border-color: #db4c3f!important;
    color: #fff!important;
    margin-left: 30px;
    font-size: 20px;
    width: 112px;
    height: 52px;
    border-radius: 5px;
    cursor: pointer;
}

.ClearButton {
    margin-top: 20px;
    width: 220px;
}

.DeleteButton {
    background-color: white!important;
    border-color: #db4c3f!important;
    color: black;
    margin-left: 30px;
    width: 70px;
    height: 32px;
    border-radius: 5px;
    cursor: pointer;
    display: inline;
}

.ToDoItem {
    height: 40px;
}

.todo {
    cursor: pointer;
    display: inline-block;
    width: 430px;
    user-select: none;
}
  
.strike {
    text-decoration: line-through;
    display: inline-block;
    width: 430px;
    user-select: none;
}

header {
    margin: 0;
    height: 38px;
    padding: 10px;
    background-color: #db4c3f;
    color: white;
}